{% extends 'AppBundle:frontend:layout.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}

    <h1>Recent news</h1>

    <div>
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-default {% if direction == 'DESC' %}active{% endif %}" href="{{ path('frontend_default', {'direction': 'ASC'}) }}">New first</a>
            <a class="btn btn-default {% if direction == 'ASC' %}active{% endif %}" href="{{ path('frontend_default', {'direction': 'DESC'}) }}">Old first</a>
        </div>
    </div>

    {% for article in news %}
        <article>
            <h2><a href="{{ path('frontend_news', {'slug': article.slug}) }}">{{ article.title }}</a></h2>
            <div><em>{{ article.createdAt|date("Y-m-d H:i") }}</em></div>
            <p>{{ article.summary }}</p>
        </article>
    {% endfor %}

    <nav>
        {% if paginator.getTotalPages() > 1 %}
            {% for i in 1..paginator.getTotalPages() %}
                {% if i == paginator.getCurrentPage() %}
                    <strong>{{ i }}</strong>
                {% else %}
                    <a href="{{ path('frontend_default', {'page': i, 'direction': direction}) }}">{{ i }}</a>
                {% endif %}
                &nbsp;&nbsp;
            {% endfor %}
        {% endif %}
    </nav>

{% endblock %}