{% extends 'AppBundle:admin:layout.html.twig' %}

{% block title %}Update category{% endblock %}

{% block content %}

    <h1>Update category</h1>

    <div>
        <a class="btn btn-default" href="{{ path('admin_categories') }}"><i class="glyphicon glyphicon-chevron-left"></i> Back to list</a>
    </div>

    <section class="vertical-indent">

        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        <form method="post" action="{{ path('admin_categories_delete', {'id': category.id}) }}">
            <button class="btn btn-danger" type="submit">Delete category</button>
        </form>

    </section>

{% endblock %}