{% extends 'AppBundle:admin:layout.html.twig' %}

{% block title %}Update comment{% endblock %}

{% block content %}

    <h1>Update comment</h1>

    <div>
        <a class="btn btn-default" href="{{ path('admin_comments') }}">
            <i class="glyphicon glyphicon-chevron-left"></i> Back to list</a>
    </div>

    <section class="vertical-indent">
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        <form method="post" action="{{ path('admin_comments_delete', {'id': comment.id}) }}">
            <button class="btn btn-danger" type="submit">Delete comment</button>
        </form>

    </section>

{% endblock %}