{% extends 'AppBundle:admin:layout.html.twig' %}

{% block title %}Update comment{% endblock %}

{% block content %}

    <h1>Update comment</h1>

    <form method="post" action="{{ path('admin_comments_delete', {'id': comment.id}) }}">
        <button type="submit">Delete comment</button>
    </form>

    <p><a href="{{ path('admin_comments') }}">Back</a></p>

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}