{% extends 'AppBundle:admin:layout.html.twig' %}

{% block title %}Update article{% endblock %}

{% block content %}

    <h1>Update article</h1>

    <form method="post" action="{{ path('admin_news_delete', {'id': article.id}) }}">
        <button type="submit">Delete article</button>
    </form>

    <p><a href="{{ path('admin_news') }}">Back</a></p>

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}